.created-slots {
    margin-top: 30px;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 6px;
}

.created-slots ul {
    list-style-type: none;
    padding-left: 0;
}

.created-slots li {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}